

<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-6 bg-light p-5 border">
      <h1> <%= @cocktail.name %></h1>

      <h5 class="py-3">List of ingredients:</h5>
      <ul>
        <li>In progress...</li>
      </ul>


      <%= link_to "Go back",  cocktails_path, class: "btn btn-primary mt-5"  %>
    </div>
  </div>
</div>

